/* Set layer specificity order */
@layer
  settings,
  generic,
  elements,
  objects,
  components,
  utilties,
  hacks;

@layer settings {
  :root {
    font-family: 'Atkinson Hyperlegible', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  /* Global Colors *************************************************************/
  /* These are used to populate the various app level color values. */
  :root {
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(36, 36, 36, 1);
    --color-pure-black: rgba(0, 0, 0, 1);
    --color-orange: rgba(238, 166, 53, 1);
    --color-sky-blue: rgba(64, 181, 231, 1);
    --color-blueish-green: rgba(0, 157, 121, 1);
    --color-yellow: rgba(242, 230, 92, 1);
    --color-blue: rgba(0, 116, 178, 1);
    --color-vermillion: rgba(226, 109, 47, 1);
    --color-reddish-purple: rgba(214, 131, 171, 1);
    --color-charcol: rgba(13, 13, 13, 1);
    --color-panes-grey: rgba(65, 66, 70, 1);
    --color-zumthor: rgba(208, 211, 212, 1);
    --color-murcury: rgba(232, 232, 232, 1);

    --metrics-border-radius: 3px;
    --metrics-border-width: 1px;
  }

  /* App Theme *****************************************************************/
  /* Light */
  @media (prefers-color-scheme: light) {
    :root {
      /* Base */
      --ui-a-color: var(--color-blue);
      /* Container */
      --ui-app-container-background-color: var(--color-white);
      /* Editor */
      --ui-editor-border-bottom-color: var(--color-zumthor);
      --ui-editor-background-color: var(--color-white);
      --ui-editor-color: var(--color-black);
      /* Slides */
      --ui-slides-background-color: var(--color-murcury);
      --ui-slides--presenting-background-color: var(--color-black);
      /* Empty Slide */
      --ui-slides-empty-after-background-color: var(--color-zumthor);
      --ui-slides-empty-after-color: var(--color-panes-grey);
      /* Slide */
      --ui-slide-outline-color: var(--color-zumthor);
      --ui-slide--current-outline-color: var(--color-blue);
      --ui-slide-background-color: var(--color-white);
      --ui-slide-color: var(--color-black);
      /* Tools Menu */
      --ui-tools-menu-border-bottom-color: var(--color-zumthor);
      /* Button */
      --ui-button-background-color: var(--color-white);
      --ui-button-color: var(--color-black);
      --ui-button-border: var(--color-zumthor);
      /* Body */
      --ui-body-background-color: var(--color-black);
      /* Spellcheck Input */
      --ui-spellcheck-input-label-color: var(--color-black);
      --ui-spellcheck-input-input-checked-spellcheck-input-label-before-color: var(--color-white);
      --ui-spellcheck-input-label-before-background-color: var(--color-zumthor);
      --ui-spellcheck-input-input-checked-spellcheck-input-label-before-background-color: var(--color-blueish-green);
      --ui-spellcheck-input-label-before-color: var(--color-black);
    }
  }
  /* Dark */
  @media (prefers-color-scheme: dark) {
    :root {
      /* Base */
      --ui-a-color: var(--color-blue);
      /* Container */
      --ui-app-container-background-color: var(--color-black);
      /* Editor */
      --ui-editor-background-color: var(--color-black);
      --ui-editor-color: var(--color-white);
      /* Slides */
      --ui-slides-background-color: var(--color-charcol);
      --ui-slides--presenting-background-color: var(--color-black);
      /* Empty Slide */
      --ui-slides-empty-after-background-color: var(--color-pure-black);
      --ui-slides-empty-after-color: var(--color-zumthor);
      /* Slide */
      --ui-slide-outline-color: var(--color-panes-grey);
      --ui-slide--current-outline-color: var(--color-blue);
      --ui-slide-background-color: var(--color-black);
      --ui-slide-color: var(--color-white);
      /* Tools Menu */
      --ui-tools-menu-border-bottom-color: var(--color-panes-grey);
      /* Button */
      --ui-button-background-color: var(--color-black);
      --ui-button-color: var(--color-white);
      --ui-button-border: var(--color-panes-grey);
      /* Body */
      --ui-body-background-color: var(--color-white);
      /* Spellcheck Input */
      --ui-spellcheck-input-label-color: var(--color-white);
      --ui-spellcheck-input-input-checked-spellcheck-input-label-before-color: var(--color-white);
      --ui-spellcheck-input-label-before-background-color: var(--color-pure-black);
      --ui-spellcheck-input-input-checked-spellcheck-input-label-before-background-color: var(--color-blueish-green);
      --ui-spellcheck-input-label-before-color: var(--color-white);
    }
  }
}

@layer elements {
  html, body {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--ui-body-background-color);
  }
}

@layer objects {
  /* Pack **********************************************************************/
  .o-pack {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .o-pack__item {
    flex: 0 0 auto;
  }

  .o-pack__spacer {
    flex: 1 1 0;
  }
}

@layer components {
  /* Button ********************************************************************/
  .c-button {
    vertical-align: baseline;
    font-family: inherit;
    border: 0;
    margin: 0;
    padding: .5em .75em;
    background-color: var(--ui-button-background-color);
    color: var(--ui-button-color);
    border-radius: var(--metrics-border-radius);
    border-width: var(--metrics-border-width);
    border-style: solid;
    border-color: var(--ui-button-border);
    font-size: 1em;
  }

  .c-button--small {
    font-size: .75em;
  }

  /* Open file Input **********************************************************/
  /* 1. Simulate browser focus ring in Firefox */
  /* 2. Simulate browser focus ring in Webkit and its derivatives */

  .c-open__label {
    color: var(--ui-spellcheck-input-label-color);
    user-select: none;
  }

  .c-open__input:focus ~ .c-open__label {
    outline: 5px auto Highlight; /* 1 */
    outline: 5px auto -webkit-focus-ring-color; /* 2 */
  }

  /* Spellcheck Input **********************************************************/
  /* 1. Simulate browser focus ring in Firefox */
  /* 2. Simulate browser focus ring in Webkit and its derivatives */

  .c-spellcheck {
    font-size: .4rem;
  }

  .c-spellcheck-input__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .c-spellcheck-input__input:focus ~ .c-spellcheck-input__label {
    outline: 5px auto Highlight; /* 1 */
    outline: 5px auto -webkit-focus-ring-color; /* 2 */
  }

  .c-spellcheck-input__label {
    color: var(--ui-spellcheck-input-label-color);
    user-select: none;
  }

  .c-spellcheck-input__label::after {
    content: "Off";
    color: var(--ui-spellcheck-input-label-before-color);
    display: inline-block;
    margin-left: .5em;
    padding-left: .2em;
    padding-right: .2em;
    border-radius: var(--metrics-border-radius);
    width: 3ex;
    line-height: 1.4em;
    text-align: center;
    background-color: var(--ui-spellcheck-input-label-before-background-color);
  }

  .c-spellcheck-input__input:checked ~ .c-spellcheck-input__label::after {
    content: "On";
    color: var(--ui-spellcheck-input-input-checked-spellcheck-input-label-before-color);
    background-color: var(--ui-spellcheck-input-input-checked-spellcheck-input-label-before-background-color);
  }

  /* App Container *************************************************************/
  .c-app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-direction: column;
    background-color: var(--ui-app-container-background-color);
  }
  .c-app-container__editor {
    flex: 1 1 100%;
    position: relative;
  }
  .c-app-container__slides {
    flex: 0 0 auto;
  }

  /* Editor ********************************************************************/
  .c-editor {
    font-size: 1em;
    position: absolute;
    top: 0;
    left: 0;
    resize: none;
    width: calc(100% - 2em);
    height: calc(100% - 2em - 1px);
    padding: 1em 1em;
    outline: none;
    border: 0;
    margin: 0;
    background-color: var(--ui-editor-background-color);
    color: var(--ui-editor-color);
  }

  /* Tools Menu ****************************************************************/
  .c-tools-menu {
    padding: .25em;
    border-top-width: var(--metrics-border-width);
    border-top-style: solid;
    border-top-color: var(--ui-tools-menu-border-bottom-color);
    border-bottom-width: var(--metrics-border-width);
    border-bottom-style: solid;
    border-bottom-color: var(--ui-tools-menu-border-bottom-color);
  }
  .c-tools-menu > * + * {
    padding-left: .5em;
  }

  /* .c-tools-menu__item {} */

  .c-tools-menu__label {
    font-size: .9em;
  }

  /* Slides ********************************************************************/
  /* 1. Perf sucks with devtools open, close to test:( */
  .c-slides {
    font-size: clamp(.7em, .8vw, 1em);/* 1 */
    display: flex;
    overflow-x: scroll;
    padding: 1em 1em;
    background-color: var(--ui-slides-background-color);
  }

  .c-slides:empty::after {
    content: 'No Slides';
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 20em;
    max-height: 100vh;
    aspect-ratio: 16/9;
    position: relative;
    overflow-y: scroll;
    border-radius: var(--metrics-border-radius);
    background-color: var(--ui-slides-empty-after-background-color);
    color: var(--ui-slides-empty-after-color);
  }

  .c-slides > * + * {
    margin-left: 1em;
  }

  .c-slides--presenting {
    background-color: var(--ui-slides--presenting-background-color);
    align-items: center;
    font-size: clamp(.7em, 4vw, 3em);
    margin: 0;
    padding: 0;
    scroll-snap-type: x mandatory;
    user-select: none;
  }

  .c-slides--presenting > * + * {
    margin-left: 0;
  }

  /* TODO: Don't reach in, apply to all slides when in presentation mode. */
  .c-slides--presenting .c-slide {
    flex:  0 0 100vw;
    scroll-snap-align: center;
    border-radius: 0;
    outline: none;
  }
  /* Turns off empty slide when presenting. */
  .c-slides--presenting:empty::after {
    display: none;
  }

  /* Slide *********************************************************************/
  /* 1. Sets vertical Rythm. */
  /* 2. Generates slide number from value in JS. */
  /* 3. This data attribute is set, removed, and read in JS. */
  .c-slide {
    container-type: inline-size;
    flex: 0 0 20em;
    max-height: 100vh;
    position: relative;
    overflow-y: scroll;
    border-radius: var(--metrics-border-radius);
    outline-width: var(--metrics-border-width);
    outline-style: solid;
    outline-color: var(--ui-slide-outline-color);
    background-color: var(--ui-slide-background-color);
    box-shadow: var(--ui-slide-box-shadow);
    color: var(--ui-slide-color);
  }
  .c-slide:before {
    padding-bottom: 58%;
    content: "";
    display: block;
    width: 100%;
  }

  /* 3 */
  .c-slide[data-has-cursor] {
    outline-width: calc(var(--metrics-border-width) + 1px);
    outline-color: var(--ui-slide--current-outline-color);
  }

  .c-slide:after {
    user-select: none;
    pointer-events: none;
    content: attr(data-slide-number); /* 2 */
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-size: .625em;
    opacity: .5;
  }

  .c-slide__content {
    font-size: 5cqw;
    position: absolute;
    line-height: 1.2;
    top: 0;
    left: 0;
    width: calc(100% - 4em);
    height: calc(100% - 2em);
    padding: 1em 2em;
  }

  /* Override some browser styles so preview and presentation are same */
  .c-slide__content :is(ul, ol) {
    padding-left: 1em;
  }

  /* Slide Style Logic *********************************************************/
  .c-slide h1 {
    font-size: 1.4em;
  }
  /* Title Slide */
  .c-slide h1:only-child {
    font-size: 1.8em;
    position: absolute;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    top: 0;
    left: 0;
    width: calc(100% - 2em);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Themes ********************************************************************/
  /* See public/slide-themes/ for slide and syntax highlighting themes */

  .c-slides--has-theme .c-slide {
    background: var(--theme-slides-background);
    color: var(--theme-slides-color);
  }
  .c-slides--has-theme .c-slide h1 {
    color: var(--theme-slides-slide-h1);
  }
}

@layer utilties {
  /* Utilities ******************************************************************/
  .u-visually-hidden {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
}
